.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px;
  width: 400px;
  height: 100px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.search-photo {
  width: 80px;
  height: 80px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 0.2rem;
  color: rgb(118, 151, 184);
}

.searchName {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.info {
  display: flex;
  flex-direction: row;
}

.search-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  width: 400px;
  padding: 10px;
}

.search-friend-div {
  width: 680px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.left-bar-name {
  font-size: 1.2rem;
}
