.container {
  background-color: rgb(236, 236, 236);
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.profileName {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  font-weight: bold;
  
}
.Icon {
  width: 30px;
  height: 35px;
  margin-right: 15px;
  border-radius: 100%;
}
.sidebar {
  flex: 2;
  height: calc(100vh - 50px);
  margin: 0 30px;
  position: sticky;
  top: 10%;
}
.feed {
  flex: 5.5;
}

.rightbar {
  flex: 2;
  height: calc(100vh - 50px);
  margin: 0 0 0 30px;
  position: sticky;
  top: 10%;
}

.feedWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin: 10px;
}
.sidebarListItem:hover {
  background-color: rgba(178, 178, 178, 0.679);
  border-radius: 8px;
  cursor: pointer;
}
.sponsored {
  display: flex;
  flex-direction: column;
}
.sidebarIcon {
  margin-right: 15px;
  width: 30px;
  height: 35px;
}

.sponsoredListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin: 10px;
  margin-left: 3;
}

.rightbarTitle {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(106, 106, 106);
  font-weight: 50;
}

.online-friend {
  background-color: limegreen;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
 
}
.sponsored {
  display: flex;
}
.sponsored img {
  width: 105px;
  height: 80px;
  border-radius: 8px;
}
.sponsored p {
  margin-left: 10px;
  font-weight: bold;
}
.post {
  box-shadow: 0 1px 5px;
  width: 680px;
  /* height: 200px; */
  margin: 20px;
  
  background-color: white;
  border-radius: 5px;
  /* text-align: center; */
  position: relative;
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 40px;
}

.dd-container {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: row-reverse;
}
.iconUnlike {
  display: flex;
  justify-content: center;
}

.comment {
  display: flex;
  border-radius: 8px;
  background-color: rgba(178, 178, 178, 0.271);
 font-size: 1rem;
  width: 100%;
 
}
.comment  p{
  word-wrap: break-word;
}
.comment-container {
  display: flex;
}
.sidebarListItemText {
  display: flex;
  font-size: medium;
  font-size: 1.2rem;
  color: black;
}
.dropdown {
  position: absolute;
  right: -6.5em;
  list-style: none;
  box-shadow: 0 1px 9px black;
  width: 6em;
  border: 2px solid rgb(105, 104, 104);
  border-radius: 5px;
  color: rgb(52, 52, 52);
  margin: 2% 0;
}
.link {
  text-align: left;
}
.addComment {
  width: 100%;
}
.updateheader{

display: flex;
flex-direction: column;
align-content: center;
color: rgba(0, 0, 0, 0.841);
border-bottom: 1px solid rgb(0, 0, 0);


}
.update--Post{
width: 100%;
height: 10px;


color: rgba(0, 0, 0, 0.841);
background-color: rgb(225, 219, 219);
border-radius: 5px;
font-weight: bold;
font-size: 25px;

cursor: pointer;

align-items: center;
text-align: center;



}
.update--Post {
  width: 100% !important;
  height: 100px !important;

  border: none;
  color: rgba(0, 0, 0, 0.841);
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px !important;
  
  cursor: pointer;
  
  align-items: center;
  text-align: center;
  
  
  
  }
.addComment textarea {
  background-color: rgba(178, 178, 178, 0.271);
  border-radius: 8px;
  font-size: 1rem;
}
.postLike-header {
  display: flex;
  flex-direction: column;
}
.postLike-header p {
  align-self: flex-start;
  padding: 5px 20px;
}
.postLike_div{
  color: rgb(75, 73, 73);

  font-weight:400;
  display: flex;
gap: 5px;
  font-size: 1rem;
padding: 5px;

}
.postLike-header_like{
  background-color: rgb(40, 121, 213);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2.5px;


}

.hand{
  color: white;
}
.options-div {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size:0.8rem;
  font-weight: bold;
  justify-content: start;
  height: 5vh;
  padding: 15px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.options {
  font-size: 1em;
  padding-left: 4%;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown div:hover {
  background-color: white;
  color: black;
}

.dd-button {
  width: 2em;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-style: none;
  border-radius: 5px;
  /* height: 20px; */
  margin: 0;
  /* height: 5vh; */
  background-color: transparent;
  color: rgb(12, 13, 17);
  cursor: pointer;
}

.addpost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 350px;
}
.friend {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.addpost input {
  height: 2em;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 2px;
}

.addpost input:focus {
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
}

.addpost button {
  height: 2em;
  font-size: 1.2em;
  width: 5em;
  color: white;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin: 10px;
  padding: 10px; */
}
.Fc{
  min-height: 30px;
  min-width: 50px;
}
.update-form input{
  height: 5em  !important;
  width: 100% !important;
  font-size: 1em !important;
  border-radius: 8px;
 border: 0.5px #bfbfbf solid;
  padding: 5px;
  margin: 2px;
}
/* .textUpdate{
  width: 100%;
  height: 200px;
} */

.update-form button {
  height: 2em;
  font-size: 0.8em;
  width: 5em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: white;
}



.update-form input:focus {
  border: 2px solid rgba(0, 0, 0, 0.481);
  outline: none;
  box-shadow: 0 1px 5px rgb(32, 32, 32);
}
.comment-btn{
  gap: 10px;
  
  
}
.color{
  color: rgb(19, 19, 98);
}
.like {
  /* width: 100px; */
  font-size: 1.1rem;
  /* height: 30px; */
  /* margin: 20px; */
  background-color: transparent;

  padding: 0;
  height: 80%;
  /* background-color: rgba(178, 178, 178, 0.271); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(137, 137, 137);
  cursor: pointer;
}

.like-btn:hover {
  background-color: rgba(225, 225, 225);
}

.comment-btn:hover {
  background-color: rgba(225, 225, 225);
}

.allComments-btn {
  background-color: transparent;
  color: rgb(75, 73, 73);

  font-weight:400;
 
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.allComments-btn:hover {
  text-decoration-line: underline;
}

.like-div {
  display: flex;
  align-items: center;
  font-size: medium;
  justify-content: space-between;
  border-bottom: 1px solid rgba(178, 178, 178, 0.679);
  border-top: 1px solid rgba(178, 178, 178, 0.679);
  /* padding: 10px 0; */
  height: 60px;
}
.post-action {
  display: flex;
}

.post-action button {
  margin: 20px;
}

.comment-div-container {
  height: 50px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

.dd-button {
  position: absolute;
  /* top: -30%; */
  top: 0;
  right: 0;
}
.commentName{
  font-weight: bold;
}
.dropdown-comment {
  position: absolute;
  right: -6.5em;
  list-style: none;
  box-shadow: 0 1px 9px black;
  width: 6em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.678);
  margin: 2% 0;
}

.share {
 width: 680px;
  height: 170px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}
.likediv {
  background-color: aqua;
}
.Unlike {
  color: rgb(45, 123, 239);

}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  color: black;
}

.shareButton {
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: green;
  width: 105px;
  font-weight: 500;
  margin: 0px 0px 0px 300px;

  cursor: pointer;
  color: white;
}

/* .label-post-img{
  display: flex;
  flex-direction: ;

} */

.label-post-img:hover {
  cursor: pointer;
}

.container-post {
  display: flex;
  flex-direction: column;

  /* min-height: 100vh; */
}

.post {
  /* width: 100%; */

  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  /* margin: 30px 0; */
}

.postWrapper {
  padding: 10px;
  word-wrap: break-word;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.update-post-image-label{
  font-size: 1rem;
  display: flex;
justify-content: center;
align-items: center;

  border:0.5px #bfbfbf solid;
  border-radius: 5px;
  color: black;
  
  height: 50px;
}
.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.iamge-post {
  object-fit: fill;
  width:450px;
 
  align-items: center;
height: 300px;
  border: 0.1em solid rgba(128, 128, 128, 0.196);
  border-radius: 8px;
}
.dis-Flex{
  display: flex;
  flex-direction: column;

  
}
.postCenter {
  margin: 20px 0;
  font-size: 1rem;
}
.postCenter img {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  object-fit: fill;
}

.update-post-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 620px;
  box-shadow: 0 1px 9px rgba(131, 131, 131, 0.626);
  background-color: white;
  border-radius: 8px;
  z-index: 2;
}

.update-post-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
 
}
textarea::-webkit-scrollbar {
  width: 0px;
}


.addComment textarea {
  /* width: 20vw; */
  resize: none;
  height: 40px;
  border-radius: 50px;
  outline: none;
  padding: 0 15px;
  font-size:1rem;
  margin-top: 20px;
  max-height: 200px;
  border: 1px solid #bfbfbf;
}