.Home {
  height: 100vh;
  padding-bottom: 112px;
  padding-top: 72px;
  background: #f0f2f5;
  min-width: 500px;
}

.home-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  gap: 9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-div {
  margin: auto;
  width: 90%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.437);
}

.facebook-logo {
  width: 600px;
}

.home-elements h1 {
  font-size: 4.5rem;
  color: #1877f2;
}

.home-elements p {
  font-size: 2.2rem;
}

.home-actions {
  text-align: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 500px;
  height: 26rem;
}

.register-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register {
  border: none;
  border-radius: 6px;
  font-size: 1.8em;

  line-height: 48px;
  width: 50%;
  height: 4rem;
  padding: 0 16px;
  margin: 1.3em;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  background-color: #42b72a;
  transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
}
