.navbar-container {
  position: sticky;
  top: 0;
  z-index: 4;
  display: flex;
  box-shadow: 0 1px 2px rgba(90, 90, 90, 0.557);
}

.left-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.navbar-icons {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Links-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  height: 100%;
}

.nav-mid-div {
  width: 140px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.nav-mid-div:hover {
  background-color: rgb(235, 235, 235);
}

.nav-mid-icon {
  height: 30px;
  width: 30px;
  color: rgb(90, 90, 90);
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 80%;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}
.logout-icons {
  height: 25px;
  width: 25px;
  margin: 2px;
  color: rgb(90, 90, 90);
}

.logout:hover {
  background-color: rgb(235, 235, 235);
}

.header {
  font-size: 2.2em !important;
  font-weight: bold;
}

.link {
  text-decoration: none;
  margin: 15px;
  font-size: 1.2em;
  cursor: pointer;
  color: gray;
}

.navbar {
  display: flex;
  height: 9vh;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: white;
}

.notification-number {
  background-color: red;
  border: 2px solid white;
  text-align: center;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 30%;
}

.notification-icon {
  height: 38px;
  width: 38px;
}

.popup-navbar {
  min-height: 300px;
  width: 200px;
  position: absolute;
  top: 7.5vh;
  border-radius: 8px;
  width: 450px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(90, 90, 90, 0.557);
}

/* .facebook-logo {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  background-color: green;
  cursor: pointer;
}

.logo {
  color: blue;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgb(54, 54, 54);
  cursor: pointer;
} */

.search-container {
  width: 100%;
}
