.navbar-container {
  position: sticky;
  top: 0;
  z-index: 4;
  display: flex;
}

.left-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.header {
  font-size: 2.2em !important;
  font-weight: bold;
}

.link {
  text-decoration: none;
  margin: 15px;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
}

.navbar {
  display: flex;
  height: 9vh;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(54, 54, 54);
  border-bottom: 1px solid gray;
}

/* .facebook-logo {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  background-color: green;
  cursor: pointer;
}

.logo {
  color: blue;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgb(54, 54, 54);
  cursor: pointer;
} */

.search-container {
  width: 100%;
}
