.chat-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 9px rgba(228, 228, 228, 0.802);
  height: 500px;
  width: 400px;
  bottom: 0;
  right: 5%;
  border-radius: 8px 8px 0 0;
  color: black;
}

.rightbarFriendList {
  max-height: 430px;
  overflow-y: scroll;
}

.online-users {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  height: 60px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.online-users:hover {
  background-color: rgb(213, 213, 213);
}
.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(212, 212, 212, 0.802);
  height: 50px;
}

.chat-body {
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  word-break: break-all;
}

.chat-another {
  display: flex;
  align-items: center;
  max-width: 300px;
  border-radius: 25px;
}

.own-div {
  justify-self: flex-end;
  align-self: flex-end;
  max-width: 300px;
  border-radius: 25px;
}

.chat-message {
  background-color: #1877f2;
  max-width: 300px;
  border-radius: 25px;
  display: flex;
  font-size: medium;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 15px;
  margin: 5px 0;
  justify-self: flex-start;
  align-self: flex-start;
  overflow-wrap: break-word;
  word-wrap: break-word;
  flex-wrap: wrap;
  cursor: default;
}

.own {
  background-color: rgba(212, 212, 212, 0.802);
  justify-self: flex-end;
  align-self: flex-end;
}

.chat-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
}

.chat-send {
  height: 100%;
  width: 25px;
  border-radius: 50%;
  color: #1877f2;
}

.user-chat {
  height: 48px;
  margin: 0;
}

.chat-area {
  width: 360px;
  height: 40px;
  border-radius: 50px;
  outline: none;
  padding: 0 15px;
  font-size: 1.2rem;
  border: 1px solid #bfbfbf;
}
