.user-container{
    display: grid;
  
}

.cover{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 200px;
    
}

.cover img{
    width: 500px;
    height: 200px;
    
}

.profilePic{
    height: 100;
    width: 100;
}

.profilePic img{
    height: 100;
    width: 100;
}

.profile-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: whitesmoke;
  
    border-bottom: 2px solid rgba(129, 129, 129, 0.585);
  }
  .header-container {
    width: 80%;
    height: 800px;
  }
  
  .cover {
    position: relative;
    border-radius: 10px;
    height: 550px;
    width: 100%;
    transform: translateY(-10%);
    background-color: rgba(190, 190, 190, 0.312);
    border-style: none;
  }
  
 
  .cover-img {
    object-fit: cover;
    width: 100%;
    height: 550px;
    border-radius: 10px;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 55%;
    left: 12%;
  }
  
  .profile {
    border-radius: 50%;
    height: 253px;
    width: 248px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-photo {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border: 8px solid white;
    border-radius: 50%;
  }

    .main-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(225, 225, 225);
    padding-bottom: 20vh;
  }
  
  .left-container {
    flex: 0.8;
  }
  .mid-container {
    margin-top: 1rem;
    flex: 5;
    display: flex;
    position: relative;
  }
  .right-container {
    flex: 0.8;
  }
  
  .mid-left {
    flex: 1.5;
  }
  
  .mid-right {
    flex: 2.5;
  }

  .left {
    width: 100%;
    background-color: #fff;
    min-height: 400px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 1px 9px rgb(195, 195, 195);
  }
  
  .info-left {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .edit-info {
    align-self: flex-end;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .bio-left {
    align-self: center;
    padding: 0;
    font-size: 1.2rem;
  }
  
  .info-icon {
    color: rgb(161, 161, 161);
  }

  
  .left-details {
    display: flex;
    gap: 0.5em;
    font-size: 1.3rem;
    margin: 15px 0;
  }
  
  .info-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgb(161, 161, 161);
    background-color: #fff;
    border-radius: 8px;
    z-index: 2;
  }
  
  .info-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
  }
  
  .popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
  }
  
  .detalis-conatiner {
    margin-bottom: 10px;
    padding: 5px;
  }