.profile-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: whitesmoke;

  border-bottom: 2px solid rgba(129, 129, 129, 0.585);
}
.header-container {
  width: 80%;
  height: 800px;
}

.cover {
  position: relative;
  border-radius: 10px;
  height: 550px;
  width: 100%;
  transform: translateY(-10%);
  background-color: rgba(190, 190, 190, 0.312);
  border-style: none;
}

.cover-input-label {
  border: 1px solid #ccc;
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  right: 2%;
  bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: white;
  color: black;
  cursor: pointer;
}

.camera {
  height: 20px;
  width: 20px;
}

.cover-choice {
  background-color: rgba(0, 0, 0, 0.326);
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  height: 5rem;
  padding: 0 15px;
  display: flex;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  gap: 1rem;
}

.cancel-cover {
  width: 10vw;
  height: 2.8rem;
  margin: auto;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.204);
}
.cancel-cover:hover {
  background-color: rgba(255, 255, 255, 0.37);
}

.cover-save {
  margin: auto;
  background-color: #2374e1;
}
.cover-save:hover {
  background-color: #2980f1;
}

.cover-img {
  object-fit: cover;
  width: 100%;
  height: 550px;
  border-radius: 10px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 55%;
  left: 12%;
}

.profile {
  border-radius: 50%;
  height: 253px;
  width: 248px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-photo {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border: 8px solid white;
  border-radius: 50%;
}

.profile-input-label {
  position: absolute;
  bottom: 2%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 195, 195);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.camera-profile {
  height: 25px;
  width: 25px;
  color: black;
}

.profile-change {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 5px gray;
  height: 500px;
  width: 600px;
  border-radius: 8px;
  background-color: rgb(240, 239, 239);
}

.choices-profile {
  display: flex;
  width: 50%;
}

.profile-new {
  object-fit: cover;
  border-radius: 8px;
  height: 500px;
  width: 600px;
}

.main-container {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  min-height: 50vh;
  /* background-color: rgb(211, 211, 211); */
}

.left-container {
  flex: 0.8;
}
.mid-container {
  flex: 5;
  display: flex;
}
.right-container {
  flex: 0.8;
}

.mid-left {
  flex: 2;
}

.mid-right {
  flex: 2.5;
}
