* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  cursor: default;
}

body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}

body,
button,
input,
label,
select,
td,
textarea {
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
