.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 22vw;
}

.search-action {
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-container input {
  border-radius: 50px;
  width: 18.5rem;
  background-color: rgb(238, 238, 238);
  height: 3.2rem;
}

.logo {
  color: blue;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.search-div {
  background-color: #fff;
  min-height: 10rem;
  width: 26rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2%;
  left: -8%;
  border-radius: 8px;
  box-shadow: 0 1px 9px rgba(122, 122, 122, 0.439);
}

.users {
  margin-top: 3.8em;
  padding: 10px;
  margin-left: 1em;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.search-result {
  display: flex;
  flex-direction: column;
}

.user-search {
  height: 4em;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 7px;
  word-wrap: break-word;
}

.user-search:hover {
  background-color: rgb(225, 225, 225);
  border-radius: 8px;
  cursor: pointer;
}

.left-arrow {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.back-icon {
  color: rgb(96, 96, 96);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.left-arrow:hover {
  background-color: rgb(237, 237, 237);
}

.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 1.5em;
}

.input-container {
  position: relative;
  display: flex;
  font-size: 1.2em;
  background-color: transparent;
  align-items: center;
  border-radius: 50px;
  height: 100%;
}

.search-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 4%;
  opacity: 0.7;
}

.bottom-icon {
  background-color: blue;
  color: white;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
}

.search-box {
  border-style: none;
  background-color: rgb(232, 232, 232);
}

.search-box:focus {
  outline: rgb(190, 190, 200);
}
.user-search-icon {
  object-fit: contain;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
